body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.exercise {
    margin-top: 20px;
    padding: 15px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}
#datesContainer, #labelsContainer {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.exercise-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    cursor: move;
}
#validationResult {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#validationResult.correct {
    background-color: #dff0d8;
    color: #3c763d;
}

#validationResult.incorrect {
    background-color: #f2dede;
    color: #a94442;
}

#validationResult {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#validationResult.correct {
    background-color: #dff0d8;
    color: #3c763d;
}

#validationResult.incorrect {
    background-color: #f2dede;
    color: #a94442;
}

.exercise-item.correct {
    background-color: #dff0d8; /* Vert clair pour correct */
    border-left-color: #3c763d; /* Vert foncé pour correct */
}

.exercise-item.incorrect {
    background-color: #f2dede; /* Rouge clair pour incorrect */
    border-left-color: #a94442; /* Rouge foncé pour incorrect */
}

/* Styles pour la modal */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Reste en place */
    z-index: 1; /* Au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    overflow: auto; /* Défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec opacité */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour le menu de navigation en bas de la page */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.bottom-nav button:hover {
    background-color: #4cae4c;
}

#datesContainer, #labelsContainer, #summariesContainer {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto; /* Permet le défilement vertical */
}

#datesContainer h3, #labelsContainer h3, #summariesContainer h3 {
    text-align: center;
    margin-bottom: 10px;
}

.list {
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}

.exercise-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    cursor: move;
}

.exercise-item.correct {
    background-color: #dff0d8; /* Vert clair pour correct */
    border-left-color: #3c763d; /* Vert foncé pour correct */
}

.exercise-item.incorrect {
    background-color: #f2dede; /* Rouge clair pour incorrect */
    border-left-color: #a94442; /* Rouge foncé pour incorrect */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.exercise {
    margin-top: 20px;
    padding: 15px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

#datesContainer, #labelsContainer {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.exercise-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    cursor: move;
}

#validationResult {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#validationResult.correct {
    background-color: #dff0d8;
    color: #3c763d;
}

#validationResult.incorrect {
    background-color: #f2dede;
    color: #a94442;
}

#validationResult {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#validationResult.correct {
    background-color: #dff0d8;
    color: #3c763d;
}

#validationResult.incorrect {
    background-color: #f2dede;
    color: #a94442;
}

.exercise-item.correct {
    background-color: #dff0d8; /* Vert clair pour correct */
    border-left-color: #3c763d; /* Vert foncé pour correct */
}

.exercise-item.incorrect {
    background-color: #f2dede; /* Rouge clair pour incorrect */
    border-left-color: #a94442; /* Rouge foncé pour incorrect */
}

/* Styles pour la modal */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Reste en place */
    z-index: 1; /* Au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    overflow: auto; /* Défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec opacité */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour le menu de navigation en bas de la page */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.bottom-nav button:hover {
    background-color: #4cae4c;
}

#datesContainer, #labelsContainer, #summariesContainer {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto; /* Permet le défilement vertical */
}

#datesContainer h3, #labelsContainer h3, #summariesContainer h3 {
    text-align: center;
    margin-bottom: 10px;
}

.list {
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}

.exercise-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    cursor: move;
}

.exercise-item.correct {
    background-color: #dff0d8; /* Vert clair pour correct */
    border-left-color: #3c763d; /* Vert foncé pour correct */
}

.exercise-item.incorrect {
    background-color: #f2dede; /* Rouge clair pour incorrect */
    border-left-color: #a94442; /* Rouge foncé pour incorrect */
}

/* Styles pour le tableau */
.exercise-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.exercise-table th, .exercise-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.exercise-table th {
    background-color: #f4f4f4;
}

.exercise-table select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.exercise-table select.correct {
    background-color: #dff0d8; /* Vert clair pour correct */
}

.exercise-table select.incorrect {
    background-color: #f2dede; /* Rouge clair pour incorrect */
}

/* Styles pour la modal */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Reste en place */
    z-index: 1; /* Au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    overflow: auto; /* Défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec opacité */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur */
}

.close, .close-options {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus, .close-options:hover, .close-options:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour le menu de navigation en bas de la page */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.bottom-nav button:hover {
    background-color: #4cae4c;
}

#datesContainer, #labelsContainer, #summariesContainer {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto; /* Permet le défilement vertical */
}

#datesContainer h3, #labelsContainer h3, #summariesContainer h3 {
    text-align: center;
    margin-bottom: 10px;
}

.list {
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}

.exercise-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    cursor: move;
}

.exercise-item.correct {
    background-color: #dff0d8; /* Vert clair pour correct */
    border-left-color: #3c763d; /* Vert foncé pour correct */
}

.exercise-item.incorrect {
    background-color: #f2dede; /* Rouge clair pour incorrect */
    border-left-color: #a94442; /* Rouge foncé pour incorrect */
}

/* Styles pour le tableau */
.exercise-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.exercise-table th, .exercise-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.exercise-table th {
    background-color: #f4f4f4;
}

.exercise-table select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.exercise-table select.correct {
    background-color: #dff0d8; /* Vert clair pour correct */
}

.exercise-table select.incorrect {
    background-color: #f2dede; /* Rouge clair pour incorrect */
}

/* Styles pour le modal des options */
#optionsModal .modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Ajustez cette valeur selon vos besoins */
    max-width: 500px; /* Largeur maximale */
    margin: 10% auto; /* Centré verticalement */
}

#optionsModal .modal-content h2 {
    margin-top: 0;
    color: #333;
}

#optionsModal .modal-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#optionsModal .modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#optionsModal .modal-content button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#optionsModal .modal-content button:hover {
    background-color: #4cae4c;
}
#optionsModal .modal-content input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}
/* Styles pour le menu dépliant à gauche */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav button {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    margin: 10px;
    text-align: left;
}

.sidenav button:hover {
    background-color: #4cae4c;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    left: 20px;
}

.openbtn:hover {
    background-color: #4cae4c;
}

/* Styles pour le modal des options */
#optionsModal .modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Ajustez cette valeur selon vos besoins */
    max-width: 500px; /* Largeur maximale */
    margin: 10% auto; /* Centré verticalement */
}

#optionsModal .modal-content h2 {
    margin-top: 0;
    color: #333;
}

#optionsModal .modal-content .form-group {
    margin-bottom: 20px;
}

#optionsModal .modal-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#optionsModal .modal-content select,
#optionsModal .modal-content input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#optionsModal .modal-content button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#optionsModal .modal-content button:hover {
    background-color: #4cae4c;
}

#optionsModal .modal-content .json-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#optionsModal .modal-content .json-buttons button {
    width: 48%;
}